@tailwind base;
@tailwind components;
@tailwind utilities; 


body {
    /* background-color: rgb(15, 13, 3); */
    background-color: rgb(15, 13, 3);
}

perso-margin {
    margin: 100px;
}

.mx-100 {
    margin-left: 25%;
    margin-right: 25%;
  }
